body {
  font-family: 'Noto Sans HK', sans-serif;
  margin: 0em;
  color: white;
  background-color: #DADADA;
}

.kvr {
  height: 400px;
  background-image: url(https://images.unsplash.com/photo-1517134191118-9d595e4c8c2b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=maik-jonietz-_yMciiStJyY-unsplash.jpg);
  background-size: cover;
}

.card-img-top{
  height: 175px;
}

.card{
  color: white;
  border: 0!important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.6);
  background-color: gray;
}

.card-tittle{
  min-height: 3rem;
}

.card-text{
  min-height: 7rem;
}

//a partir de aca es para proyecyos//

.Lista1{
  color: black;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.6);
  margin: 2em;
  padding: 2em;
}
